body {
 font-family: 'Mulish',
  sans-serif;
 margin: 0;
 padding: 0;
 background-color: #fcc88a;
}

h1 {
 text-align: center;
 color: #a13939;
}

/*** MAIN CONTAINER **/

.main-content {
 width: 89%;
 height: auto;
 padding: 40px 50px;
 margin: 0 50px 0 50px;
}

.letter {
 width: 90px;
 height: 90px;
 font-size: 34px;
 font-weight: bolder;
 margin: 20px;
 background-color: #c2c57f;
 color: #e75151;

}

/** Images **/

.children {
 display: inline;
 position: relative;
 top: 2px;
 left:158px;
 

}

.girl {
 display: inline;
 position: relative;
 top: 2px;
 left:555px;
}

/*Footer*/

.footer{ 
width: 30%;
display: grid;
grid-template-columns: 100%;
margin: auto;
text-align: center;
}





/****/

@media only screen and (max-width: 1518px) {

 .girl{
  display: none;
 }
.children {
display: none;
}
}

@media only screen and (max-width: 1300px) {

 .children {
  position: relative;
max-width: 50px;
max-height: 50px;

 }
}

